body {
    background-color: blueviolet;
    margin-top: 90px;
    margin-left: 220px;
    margin-right: 220px;
    font-family: Trebuchet MS;
    color: bisque;
}

hr {
    margin-left: 300px;
    margin-right: 300px;
    color: bisque;
}

h1 {
    text-align: center;
}

input[type="submit"] {
    background-color: bisque;
    font-family: Trebuchet MS;
    padding: 10px;
    border-radius: 10px;
}

p {
    font-weight: bold;

}

label[for="num"],
label[for="shade"],
label[for="cord"],
label[for="additional"],
label[for="country"] {
    font-weight: bold;
}
